:root {
  --bg-color: rgb(35,39,44);
  --font-color: rgb(151,160,172);

  --highlight-color-1: #F26D6D;
  --highlight-color-2: #F2B880;
  --highlight-color-3: #A0EADE;


  --highlight-color-4: #e6bccd;
  --highlight-color-5: #6d6df2;
  --highlight-color-6: #F2C76D;
}



body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0px;
  overflow: auto;
  position: relative;
  padding: 0px;

}

#page-container {
  margin: 0px;
  /* padding: 5%; */
  padding-top: 5%;
  position: relative;
  width: 70%;
  height: 100%;
  top: 10px;
  z-index: 4;
}

#header{
  color: var(--font-color);
  /* font-family: "Rubik", sans-serif; */
  position: relative;
  height: 10%;
  width: 100%;
  top: 10%;
  z-index: 10;
  background-color: var(--bg-color);
  /* background-color: grey; */
}

#header h1 {
  font-weight: bold;
  font-size: 35px;
}

#header h3 {
  font-weight: 900;
}

#header br {
  margin-bottom: 1em;
}

#header .nav-bar { 
  list-style:none; 
  margin-top: 20px; 
  background-color: var(--bg-color);
}
#header .nav-bar li { 
  display:inline; 
  padding:20px; 
  padding-left: 0;
}

#header .nav-bar li a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  color: rgb(96,193,125);
  font-size: 20px;
}


.page-content {
  background-color: var(--bg-color);
  font-family: 'Montserrat';
  display: grid;
  height: 40%;
  padding-bottom: 10%;
  margin-top: 50px;
  align-items: top;
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
}

.content-about {
  padding-top: 5%;
  padding-right: 5%;
  line-height: 30px;
  text-align: justify;
  font-size: 15px;
  /* align-items: center; */
}

.contact {
  background-color: var(--bg-color);
  height: 40%;
  padding-top: 5%;
  padding-bottom: 10%;
  /* align-items: center; */
  column-gap: 5px;
}

.contact h1 {
  font-size: 30px;
}

.contact h3 {
  font-size: 23px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 30% 20%;
}

.links {
  text-decoration: none;
  /* text-decoration-color: rgb(96,193,125); */
  font-family: 'Rubik', sans-serif;
  color: var(--font-color);
  transition: 0.15s ease-in;
}

.links:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(96,193,125);
  color: rgb(201, 213, 228);
  /* background-color: rgb(0, 0, 0); */
}

.highlight {
  color: rgb(96,193,125);
}


/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

.footer {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  height: 10%;
  width: 70%;
  position: fixed;
  float: bottom;
  bottom: 5%;
  z-index: 4;
  /* background-color: grey; */
}

.footer-float {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  height: 10%;
  width: 100%;
  position: relative;
  float: bottom;
  padding-bottom: 5%;
  z-index: 4;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
}

h1, h2, h3, h4, h5, span, li {
  color: var(--font-color);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.round-box {
  color: rgb(201, 213, 228);
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid rgb(96,193,125);
  background-color: var(--bg-color);
  font-size: 18px;
  transition: 0.15s ease-in;
  /* background-color: grey; */
}

.round-box:hover {
  color: rgb(201, 213, 228);
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  border: 2px solid rgb(96,193,125);
  background-color: var(--bg-color);
  font-size: 20px;
  /* background-color: grey; */
}


.br {
  display: block;
  margin-bottom: 0.5em;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: ease-in-out 0.3s;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  border-color: rgb(96,193,125);
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  background: rgb(57, 63, 71);
  border: 2px solid rgb(57, 63, 71);
  color: var(--font-color);
}

/* Twitter */
.fa-google {
  background: rgb(57, 63, 71);
  border: 2px solid rgb(57, 63, 71);
  color: var(--font-color);
}

.fa-envelope {
  align-self: center;
  background: rgb(57, 63, 71);
  border: 2px solid rgb(57, 63, 71);
  color: var(--font-color);
}

.fa-github {
  background: rgb(57, 63, 71);
  border: 2px solid rgb(57, 63, 71);
  color: var(--font-color);
}

.publications {
  background-color: var(--bg-color);
  font-family: 'Montserrat';
  /* overflow: auto; */
  margin-top: 30px;
  width: 80%;
  align-items: top;
  padding-bottom: 3%;

}

.papers-list li { 
  padding-left: 0;
  list-style-type: number;
  color: var(--font-color);
  padding: 10px;
  /* line-height: 1.2; */
}

.papers-list li a {
  text-decoration: none;
  color: var(--font-color);
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.dummy {
  text-indent: 3.4em;
}


#projects {
  margin: 50px auto;
  width: 80%;
  float: left;
  /* padding-left: 3%; */
}

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-list li {
  display: block;
  margin-bottom: 20px;
}

.project-heading {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 40%;
  border: 2px solid var(--bg-color);
  /* background-color: rgb(57, 63, 71); */
  /* border-color: rgb(57, 63, 71); */
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.project-heading::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 2px;
}

.project-heading h2 {
  color: rgb(161, 171, 183);
  transition: 0.2s ease-in-out;
}

.project-heading h2:hover {
  color: rgb(201, 213, 228);
}

.project-heading.active h2 {
  color: rgb(201, 213, 228);
}

.automated-planning::before {
  background-color: var(--highlight-color-1);
}

.sensors::before {
  background-color: var(--highlight-color-2);
}

.conversational-agents::before {
  background-color: var(--highlight-color-3);
}

.automated-planning:hover, .automated-planning.active {
  border-color: var(--highlight-color-1);
}

.sensors:hover, .sensors.active {
  border-color: var(--highlight-color-2);
}

.conversational-agents:hover, .conversational-agents.active {
  border-color: var(--highlight-color-3);
}

.project-content {
  /* padding: 10px; */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.project-heading.active + .project-content {
  opacity: 1;
  max-height: 1000px; 
}

